{% extends 'product/base_cacao_nav.html' %}
{% load static %}

{% block title %}
	Корзина
{% endblock %}

{% block content %}

<div class='container my-5'>

	<h3 class='mb-4'>Корзина</h3>
	<table class="cart">

		<thead>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th>Цена за шт.</th>
				<th>Общая цена</th>
			</tr>
		</thead>

		<tbody>
		{% for item in cart %}

			{% with product=item.product %}
				<tr >
					<td>
						<a href="/products/{{ product.product_slug }}">
							<img class='cart_img' src="
							{% if product.product_img %}{{ product.product_img.url }}
							{% else %}
								{% static 'media/no_img.jpg' %}
							{% endif %}">
						</a>
					</td>

					<td>
						<p class='major-text pb-2'>{{ product.product_full_name }}
						<p class='cacao'>Материал обивки: {{ product.fabric_name }}
						<p class='cacao'>Наполнитель: {{ product.product_inside }}, {{ product.product_inside_pillow }}
						<p class='cacao'>Габаритные размеры: {{ product.width }} x {{ product.height }} x {{ product.depth }}

					</td>

					<td>
						<form action="{% url 'cart:cart_add' product.product_slug %}" method="post">

							<div class="d-flex justify-content-start z_index_up">
								<div>
									{{ item.update_quantity_form.quantity }}
								</div>
								<div>
									 {{ item.update_quantity_form.override }}
									<input type="submit" value="Обновить" class="general-gray">
								</div>
							</div>
							{% csrf_token %}
						</form>
					</td>

					<td>
						<form action="{% url 'cart:cart_remove' product.product_slug %}" method="post" >
							<div class="d-flex justify-content-start">
								<input type="submit" value="Удалить позицию" class="general-gray">
							</div>
							{% csrf_token %}
							</form>
						
					</td>
					<td class="num">{{ item.product.price_sale }}₽</td>
					<td class="num total_price">{{ item.total_price }}₽</td>
				
				</tr>
			{% endwith %}

		{% endfor %}
			<tr class="total">
				<td colspan="4"></td>
				<td>Итого:</td>
				<!-- td class="num show_total_cost">{{ cart.get_total_cost }}₽</td -->
				<td class="num show_total_cost"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<br>

	<div class="d-flex justify-content-between">
		
		<a href="{% url 'product:products' %}" class="">
			<button class="btn-outline-gray">Продолжить покупки </button>

		</a>
		<a href="{% url 'orders:order_create' %}" class="ms-3">
			<button class="btn-outline-gray">Оформление заказа </button>
		</a>
	</div>

</div>
<br><br>
<h4 class='my-5 container cacao'>Популярные товары</h4>

<!-- POPULAR PRODUCTS SLIDER START -->	
	{% include 'product/card_parts/slider_for_index_popular_goods.html' %}
<!-- PRODUCTS SLIDER END-->

<!-- GRAY RECTANGLES START -->
	{% include 'product/card_parts/gray_rectangles.html' %}
<!-- GRAY RECTANGLES END -->



<script>

/* now you can see total sum of all products */
window.addEventListener('DOMContentLoaded', function() {
	var all_prices = document.querySelectorAll('.total_price');
	var sum = 0;

	for (var i = 0; i < all_prices.length; i++) {
		var price = parseInt(all_prices[i].textContent);
	    if (!isNaN(price)) {
	      sum += price;
	    	}
		}
	total_sum = sum;
	document.querySelector('.show_total_cost').innerHTML = `<strong>${total_sum.toFixed(2)}₽</strong>`;



/* now you can change quantity of products! */

	q_selector = document.querySelectorAll('#id_quantity');
	console.log(q_selector);
	for (var i = 0; i < q_selector.length; i++){
			q_selector[i].classList.add('z_index_up');
		}


	})
</script>

{% endblock %}