{% extends 'product/base_cacao_nav.html' %}
{% load static %}

{% block title %}
	Корзина
{% endblock %}

{% block content %}

<div class='container my-5'>

<h2>Корзина</h2>
<table class="cart">

<thead>
	<tr>
		<th>Изображение</th>
		<th>Товар</th>
		<th>Количество</th>
		<th>Удалить</th>
		<th>Цена за ед.</th>
		<th>Цена</th>
	</tr>
</thead>

<tbody>
{% for item in cart %}

	{% with product=item.product %}
		<tr>
			<td>
				<!-- <a href="{{ product.product_slug }}"> -->
					<img src="
					{% if product.product_img %}{{ product.product_img.url }}
					{% else %}
						{% static 'media/no_img.jpg' %}
					{% endif %}">
				<!-- </a> -->
			</td>
			<td>{{ product.product_full_name }}</td>
			
			<td>
				<form action="{% url 'cart:cart_add' product_slug=product.product_slug %}" method="post">

					<div class="d-flex justify-content-start">
						<div>
							{{ item.update_quantity_form.quantity }}
						</div>
						<div>
							{{ item.update_quantity_form.override }}
							<input type="submit" value="Обновить" class="latte_bg">
						</div>
					</div>
					{% csrf_token %}
				</form>
			</td>


			<td>
				<form action="{% url 'cart:cart_remove' product.product_slug %}" method="post" >
					<input type="submit" value="Удалить" class="latte_bg">
					{% csrf_token %}
				</form>
			</td>


			<td class="num">${{ item.price }}</td>
			<td class="num">${{ item.total_price }}</td>
		</tr>
	{% endwith %}

{% endfor %}
	<tr class="total latte_bg">
		<td>Итого</td>
		<td colspan="4"></td>
		<td class="num">${{ cart.get_total_price }}</td>
	</tr>
</tbody>
</table>
<br>
<hr>
<p class="text-right">
	
	<a href="{% url 'product:products' %}" class="">
		<button class="btn-outline-gray">Продолжить покупки </button>

	</a>
	<a href="{% url 'orders:order_create' %}" class="ms-3">
		<button class="btn-outline-gray">Оформление заказа </button>
	</a>
</p>
</div>
{% endblock %}