db.sqlite3
freee_dj/.env
venv

fix_it.txt
my_way.txt

freee_dj/settings/base.py

**/migrations/**
!**/migrations

__pycache__/
*/__pycache__/

media/*
!*media

product/static/node_modules/*
product/static/owl/*
product/static/OwlCarousel2-2.3.4/*