<style>
	.filter_header{
		font-size: 1.25em!important;
		padding-top: 1em;
	}
	.form-check-label{
		z-index: 2!important;
		font-size: 1.125em!important;
		color: #50504E;
	}

@media (min-width: 811px){
	.modal{
		width: 33%!important;
  		height: 100vh!important;
  		right:0!important;
  		left:auto;
  		padding: 0px!important;
	}
}


@media (max-width: 810px) {
	.modal{
		width: 100%!important;
		height: 100vh!important;
		padding: 0px!important;
	}
}


@media (min-width: 576px) {
  .modal-dialog {
    max-width: 100%!important;
	}
}


@media (max-width: 577px) {
  .modal-dialog {
    max-width: 100%!important;
	}
}


	.part33{
		width: auto;
	}
	.modal-dialog {
		
		margin: 0px!important;
	}


</style>

<div class="ps-3 pb-3">
	<button type="button" class="btn-prod-card white" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Показать фильтры
</button>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
 	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLiveLabel">Фильтры</h5> 
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><div></div></button>
			</div>
      		
      		<div class="modal-body modal-dialog-scrollable">
				<div class='filters_container'>
					<h3 class='filter_header'>Стоимость</h3>
					

					<h3 class='filter_header'>Тип</h3>

					{% include 'category_list.html' %}

					<h3 class='filter_header'>Коллекция</h3>

					{% for el_co in collection %}
						<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
						<label class="form-check-label" for="flexCheckDefault">
							{{ el_co.collection }}
						</label>
					</div>
					{% endfor %}


					<h3 class='filter_header'>Габариты</h3>

					<h3 class='filter_header'>Цвет</h3>
					{% for el in products %}
					{% endfor %}

			
					<h3 class='filter_header'>Механизм</h3>
					
					<div class="form-check">
						<input class="form-check-input" type="radio" name="flexRadio_mechanic" id="flexRadioDefault1">
						<label class="form-check-label" for="flexRadioDefault1">
							Нет
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="flexRadio_mechanic" id="flexRadioDefault2" checked>
						<label class="form-check-label" for="flexRadioDefault2">
							Пантограф
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="flexRadio_mechanic" id="flexRadioDefault3" checked>
						<label class="form-check-label" for="flexRadioDefault3">
							Регулировка элементов
						</label>
					</div>
				


					<h3 class='filter_header'>Ящик для хранения белья</h3>

					<div class="form-check">
						<input class="form-check-input" type="radio" name="flexRadio_box" id="flexRadioDefault_box_yes" checked>
						<label class="form-check-label" for="flexRadioDefault_box_yes">
							Да
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="flexRadio_box" id="flexRadioDefault_box_no">
						<label class="form-check-label" for="flexRadioDefault_box_no">
							Нет
						</label>
					</div>


					<h3 class='filter_header'>Опоры</h3>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
						<label class="form-check-label" for="flexCheckDefault">
							Металл
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
						<label class="form-check-label" for="flexCheckChecked">
							Дерево
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
						<label class="form-check-label" for="flexCheckChecked">
							Скрытые
						</label>
					</div>
				</div>
			</div>

			<div class="py-3">
				<center>
					<button type="button" class="btn-prod-card white">Показать варианты</button>
				</center>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	
</script>