<div id='fabric_icons' class='slide-fabric-nav'>

{% if product.product_fabric_icon_1 %}
	<a href='/products/{{product.collection_slug}}-{{product.category_slug}}-{{product.slug_fabric_icon_1}}/'>
		<img class='slide-fabric-button fabric-var-desctop fabric-var' id='' src='/media/{{ product.product_fabric_icon_1 }}'>
	</a>
{% endif %}
{% if product.product_fabric_icon_2 %}
	<a href='/products/{{product.collection_slug}}-{{product.category_slug}}-{{product.slug_fabric_icon_2}}/'> 
	  	<img class='slide-fabric-button fabric-var-desctop fabric-var' id='' src='/media/{{ product.product_fabric_icon_2 }}'>
	  </a>
{% endif %}
{% if product.product_fabric_icon_3 %}
	<a href='/products/{{product.collection_slug}}-{{product.category}}-{{product.slug_fabric_icon_3}}/'>
	  	<img class='slide-fabric-button fabric-var-desctop fabric-var' id='' src='/media/{{ product.product_fabric_icon_3 }}'>
	  </a>
{% endif %}
{% if product.product_fabric_icon_4 %}
	<a href='/products/{{product.collection_slug}}-{{product.category_slug}}-{{product.slug_fabric_icon_4}}/'> 
	  	<img class='slide-fabric-button fabric-var-desctop fabric-var' id='' src='/media/{{ product.product_fabric_icon_4 }}'>
	  </a>
{% endif %}
{% if product.product_fabric_icon_5 %}
	<a href='/products/{{product.collection_slug}}-{{product.category_slug}}-{{product.slug_fabric_icon_5}}/'> 
	  	<img class='slide-fabric-button fabric-var-desctop fabric-var' id='' src='/media/{{ product.product_fabric_icon_5 }}'>  
	  </a>  	
{% endif %}

</div>
