<canvas id='canvasDesctop' class='canvas-{{product.collection}}-{{product.category}}'></canvas>

<div class='popOvers'>

	<div id='popPaw'>
		<div class='card' style='width: 15rem;'>
			<img src='http://127.0.0.1:8000/media/{{ product.popover.popover_1_img }}' class='card-img-top'>
			<div class='card-body'>
				<p class='card-text'>Мы прошиваем наши диваны турецкими мебельными нитями марки POLYART. Это синтетические армированные  нити с полиэфирной оплёткой. Нити обладают высокой прочностью и устойчивы к истиранию. 
				</p>
			</div>
		</div>
	</div>

	<div id='popSeat'>
		<div class='card' style='width: 15rem;'>
			<img src='http://127.0.0.1:8000/media/{{ product.popover.popover_2_img}}'>
			<div class='card-body'>
				<p class='card-text'>Широкие комфортные подлокотники - идеальны для расслабленного отдыха 
				</p>
			</div>
		</div>
	</div>

	<div id='popFrontLeft'>
		<div class='card' style='width: 15rem;'>
			<img src='http://127.0.0.1:8000/media/{{ product.popover.popover_3_img}}'>
			<div class='card-body'>
				<p class='card-text'>Вывернутый шов - трендовое направление в дизайне сегодняшнего дня. Добавляет изюминку дивану и выделяет его в интерьере
				</p>
			</div>
		</div>
	</div>

	<div id='popFrontRight'>
		<div class='card' style='width: 15rem;'>
			<img src='http://127.0.0.1:8000/media/{{ product.popover.popover_4_img}}'>
			<div class='card-body'>
				<p class='card-text'>Комфортабельное место сидения обеспечивается наполнителем из премиальной пены Elax 
				</p>
			</div>
		</div>
	</div>

	<div id='popBack'>
		<div class='card' style='width: 15rem;'>
			<img src='http://127.0.0.1:8000/media/{{ product.popover.popover_5_img}}'>
			<div class='card-body'>
				<p class='card-text'>Элегантные зеркальные ножки польского производства отражают напольное покрытие добавляет дивану лёгкости
				</p>
			</div>
		</div>
	</div>

</div>


<script type="text/javascript">	
	function showPopOverscanvasDesctop(event){
	 
	  var canvasDesctop = document.getElementById("canvasDesctop");
	  var ctx = canvasDesctop.getContext('2d');

		console.log('Hey! You ll see armchair');

	  const canvasDesctop_width = canvasDesctop.width = 1600;
	  const canvasDesctop_heigh = canvasDesctop.height = 800;

	/* сделать эту штуку вариативной из массива */

	  var pin_popPaw = new Image();
	  pin_popPaw.src = 'http://127.0.0.1:8000/static/img/pin.svg';
	  pin_popPaw.onload = function(){
	    ctx.imageSmoothingEnabled = false;
	    ctx.drawImage(pin_popPaw, 608, 562, 50, 50);
	  }
	  var pin_popSeat = new Image();
	  pin_popSeat.src = 'http://127.0.0.1:8000/static/img/pin.svg';
	  pin_popSeat.onload = function(){
	    ctx.imageSmoothingEnabled = false;
	    ctx.drawImage(pin_popSeat, 720, 334, 50, 50);
	  }
	  var pin_popFrontLeft = new Image();
	  pin_popFrontLeft.src = 'http://127.0.0.1:8000/static/img/pin.svg';
	  pin_popFrontLeft.onload = function(){
	    ctx.imageSmoothingEnabled = false;
	    ctx.drawImage(pin_popFrontLeft, 827, 440, 50, 50);
	  }
	  var pin_popFrontRight = new Image();
	  pin_popFrontRight.src = 'http://127.0.0.1:8000/static/img/pin.svg';
	  pin_popFrontRight.onload = function(){
	    ctx.imageSmoothingEnabled = false;
	    ctx.drawImage(pin_popFrontRight, 1014, 452, 50, 50);
	  }
	  var pin_popBack = new Image();
	  pin_popBack.src = 'http://127.0.0.1:8000/static/img/pin.svg';
	  pin_popBack.onload = function(){
	    ctx.imageSmoothingEnabled = false;
	    ctx.drawImage(pin_popBack, 940, 273, 50, 50);
	  }

	  canvasDesctop.style.width = canvasDesctop.offsetWidth + 'px';
	  canvasDesctop.style.height = canvasDesctop.offsetHeight + 'px';

	  let popPaw = document.getElementById('popPaw');     
	  let popSeat = document.getElementById('popSeat');
	  let popFrontLeft = document.getElementById('popFrontLeft');
	  let popFrontRight = document.getElementById('popFrontRight');
	  let popBack = document.getElementById('popBack');

	  const mouse = {
	    x:0,
	    y:0,
	    left: false,
	    right: false,
	    over: false,
	  }; 

	  canvasDesctop.addEventListener('mousemove', function(e) {
	    const rect = canvasDesctop.getBoundingClientRect();
	    mouse.x = e.clientX - rect.left;
	    mouse.y = e.clientY - rect.top;
		/* console.log(mouse.x, mouse.y);*/

	    if (mouse.x >= 608 && mouse.x <= 562 && mouse.y >= 658 && mouse.y <= 612) {
	      popPaw.style.display = 'block';
	    }
	    else if (mouse.x >= 720 && mouse.x <= 334 && mouse.y >= 770 && mouse.y <= 384) {
	      popSeat.style.display = 'block';
	    }
	    else if (mouse.x >= 827 && mouse.x <= 440 && mouse.y >= 977 && mouse.y <= 490) {
	      popFrontLeft.style.display = 'block';
	    }
	    else if (mouse.x >= 1014 && mouse.x <= 452 && mouse.y >= 1064 && mouse.y <= 602) {
	      popFrontRight.style.display = 'block';
	    }
	    else if (mouse.x >= 940 && mouse.x <= 273 && mouse.y >= 990 && mouse.y <= 333) {
	      popBack.style.display = 'block';
	    }

	    else {
	      popPaw.style.display = 'none';
	      popSeat.style.display = 'none'; 
	      popFrontLeft.style.display = 'none'; 
	      popFrontRight.style.display = 'none'; 
	      popBack.style.display = 'none'; 
	    }
	  });
	}
	showPopOverscanvasDesctop()
</script>