{% if product.popover %}
<canvas id='canvasDesctop' class=''></canvas>

<div class=''>
	<center>
		<img class='pop_back_img' src='/media/{{ product.carousel_item_2 }}' class=''>
	</center>
</div>


<div class='popOvers'>
	<div id='popPaw'>
		<div class='card' style='width: 15rem;'>
			<img src='/media/{{ product.popover.popover_1_img }}' class='card-img-top'>
			<div class='card-body'>
				<p class='card-text'>
					{{ product.popover.popover_1_description }}
				</p>
			</div>
		</div>
	</div>

	<div id='popSeat'>
		<div class='card' style='width: 15rem;'>
			<img src='/media/{{ product.popover.popover_2_img}}'>
			<div class='card-body'>
				<p class='card-text'>
					{{ product.popover.popover_2_description }}
				</p>
			</div>
		</div>
	</div>

	<div id='popFrontLeft'>
		<div class='card' style='width: 15rem;'>
			<img src='/media/{{ product.popover.popover_3_img}}'>
			<div class='card-body'>
				<p class='card-text'>
					{{ product.popover.popover_3_description }}
				</p>
			</div>
		</div>
	</div>

	<div id='popFrontRight'>
		<div class='card' style='width: 15rem;'>
			<img src='/media/{{ product.popover.popover_4_img}}'>
			<div class='card-body'>
				<p class='card-text'>
					{{ product.popover.popover_4_description }}
				</p>
			</div>
		</div>
	</div>

	<div id='popBack'>
		<div class='card' style='width: 15rem;'>
			<img src='/media/{{ product.popover.popover_5_img}}'>
			<div class='card-body'>
				<p class='card-text'>
					{{ product.popover.popover_5_description }}
				</p>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">	
	function showPopOverscanvasDesctop(event){
	 
	  	var canvasDesctop = document.getElementById("canvasDesctop");
		var ctx = canvasDesctop.getContext('2d');


		const canvasDesctop_width = canvasDesctop.width = 1600;
		const canvasDesctop_heigh = canvasDesctop.height = 800;



	  var pin_popPaw = new Image();
	  pin_popPaw.src = '/static/img/pin.svg';
	  pin_popPaw.onload = function(){
	    ctx.imageSmoothingEnabled = false;
	    ctx.drawImage(pin_popPaw, 530, 430, 50, 50);
	  }
	  var pin_popSeat = new Image();
	  pin_popSeat.src = '/static/img/pin.svg';
	  pin_popSeat.onload = function(){
	    ctx.imageSmoothingEnabled = false;
	    ctx.drawImage(pin_popSeat, 680, 340, 50, 50);
	  }
	  var pin_popFrontLeft = new Image();
	  pin_popFrontLeft.src = '/static/img/pin.svg';
	  pin_popFrontLeft.onload = function(){
	    ctx.imageSmoothingEnabled = false;
	    ctx.drawImage(pin_popFrontLeft, 775, 300, 50, 50);
	  }
	  var pin_popFrontRight = new Image();
	  pin_popFrontRight.src = '/static/img/pin.svg';
	  pin_popFrontRight.onload = function(){
	    ctx.imageSmoothingEnabled = false;
	    ctx.drawImage(pin_popFrontRight, 820, 430, 50, 50);
	  }
	  var pin_popBack = new Image();
	  pin_popBack.src = '/static/img/pin.svg';
	  pin_popBack.onload = function(){
	    ctx.imageSmoothingEnabled = false;
	    ctx.drawImage(pin_popBack, 940, 450, 50, 50);
	  }

	  canvasDesctop.style.width = canvasDesctop.offsetWidth + 'px';
	  canvasDesctop.style.height = canvasDesctop.offsetHeight + 'px';

	  let popPaw = document.getElementById('popPaw');     
	  let popSeat = document.getElementById('popSeat');
	  let popFrontLeft = document.getElementById('popFrontLeft');
	  let popFrontRight = document.getElementById('popFrontRight');
	  let popBack = document.getElementById('popBack');

	  const mouse = {
	    x:0,
	    y:0,
	    left: false,
	    right: false,
	    over: false,
	  }; 

	  canvasDesctop.addEventListener('mousemove', function(e) {
	    const rect = canvasDesctop.getBoundingClientRect();
	    mouse.x = e.clientX - rect.left;
	    mouse.y = e.clientY - rect.top;
		/* console.log(mouse.x, mouse.y);*/

	    if (mouse.x >= 530 && mouse.x <= 580 && mouse.y >= 430 && mouse.y <= 480) {
	      popPaw.style.display = 'block';
	    }
	    else if (mouse.x >= 680 && mouse.x <= 730 && mouse.y >= 340 && mouse.y <= 390) {
	      popSeat.style.display = 'block';
	    }
	    else if (mouse.x >= 775 && mouse.x <= 825 && mouse.y >= 300 && mouse.y <= 350) {
	      popFrontLeft.style.display = 'block';
	    }
	    else if (mouse.x >= 820 && mouse.x <= 870 && mouse.y >= 430 && mouse.y <= 480) {
	      popFrontRight.style.display = 'block';
	    }
	    else if (mouse.x >= 940 && mouse.x <= 990 && mouse.y >= 450 && mouse.y <= 500) {
	      popBack.style.display = 'block';
	    }

	    else {
	      popPaw.style.display = 'none';
	      popSeat.style.display = 'none'; 
	      popFrontLeft.style.display = 'none'; 
	      popFrontRight.style.display = 'none'; 
	      popBack.style.display = 'none'; 
	    }
	  });
	}
	showPopOverscanvasDesctop()
</script>
{% endif %}