<style>
	.scheme_wrapper{
		display: grid;
	 	grid-gap: 25px;
	  
	 	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	  	width: 96%;
	  	margin-left: auto;
		margin-right: auto;
	}
</style>

<div class='scheme_wrapper'>

	{% if product.scheme_1 %}
	<img class='img-fluid' src='{{ product.scheme_1.url }}'/>
	{% endif %}

	{% if product.scheme_2 %}
	<img class='img-fluid' src='{{ product.scheme_2.url }}'/>
	{% endif %}

	{% if product.scheme_3 %}
	<img class='img-fluid' src='{{ product.scheme_3.url }}'/>
	{% endif %}

	{% if product.scheme_4 %}
	<img class='img-fluid' src='{{ product.scheme_4.url }}'/>
	{% endif %}

	{% if product.scheme_5 %}
	<img class='img-fluid' src='{{ product.scheme_5.url }}'/>
	{% endif %}

	{% if product.scheme_6 %}
	<img class='img-fluid' src='{{ product.scheme_6.url }}'/>
	{% endif %}

	{% if product.scheme_7 %}
	<img class='img-fluid' src='{{ product.scheme_7.url }}'/>
	{% endif %}

	{% if product.scheme_8 %}
	<img class='img-fluid' src='{{ product.scheme_8.url }}'/>
	{% endif %}

	{% if product.scheme_9 %}
	<img class='img-fluid' src='{{ product.scheme_9.url }}'/>
	{% endif %}

	{% if product.scheme_10 %}
	<img class='img-fluid' src='{{ product.scheme_10.url }}'/>
	{% endif %}

	{% if product.scheme_11 %}
	<img class='img-fluid' src='{{ product.scheme_11.url }}'/>
	{% endif %}

	{% if product.scheme_12 %}
	<img class='img-fluid' src='{{ product.scheme_12.url }}'/>
	{% endif %}

	{% if product.scheme_13 %}
	<img class='img-fluid' src='{{ product.scheme_13.url }}'/>
	{% endif %}

	{% if product.scheme_14 %}
	<img class='img-fluid' src='{{ product.scheme_14.url }}'/>
	{% endif %}

	{% if product.scheme_15 %}
	<img class='img-fluid' src='{{ product.scheme_15.url }}'/>
	{% endif %}

	{% if product.scheme_16 %}
	<img class='img-fluid' src='{{ product.scheme_16.url }}'/>
	{% endif %}

	{% if product.scheme_17 %}
	<img class='img-fluid' src='{{ product.scheme_17.url }}'/>
	{% endif %}

	{% if product.scheme_18 %}
	<img class='img-fluid' src='{{ product.scheme_18.url }}'/>
	{% endif %}

	{% if product.scheme_19 %}
	<img class='img-fluid' src='{{ product.scheme_19.url }}'/>
	{% endif %}

	{% if product.scheme_20 %}
	<img class='img-fluid' src='{{ product.scheme_20.url }}'/>
	{% endif %}

	{% if product.scheme_21 %}
	<img class='img-fluid' src='{{ product.scheme_21.url }}'/>
	{% endif %}

	{% if product.scheme_22 %}
	<img class='img-fluid' src='{{ product.scheme_22.url }}'/>
	{% endif %}

	{% if product.scheme_23 %}
	<img class='img-fluid' src='{{ product.scheme_23.url }}'/>
	{% endif %}

	{% if product.scheme_24 %}
	<img class='img-fluid' src='{{ product.scheme_24.url }}'/>
	{% endif %}

	{% if product.scheme_25 %}
	<img class='img-fluid' src='{{ product.scheme_25.url }}'/>
	{% endif %}

	{% if product.scheme_26 %}
	<img class='img-fluid' src='{{ product.scheme_26.url }}'/>
	{% endif %}

	{% if product.scheme_27 %}
	<img class='img-fluid' src='{{ product.scheme_27.url }}'/>
	{% endif %}

	{% if product.scheme_28 %}
	<img class='img-fluid' src='{{ product.scheme_28.url }}'/>
	{% endif %}

	{% if product.scheme_29 %}
	<img class='img-fluid' src='{{ product.scheme_29.url }}'/>
	{% endif %}

	{% if product.scheme_30 %}
	<img class='img-fluid' src='{{ product.scheme_30.url }}'/>
	{% endif %}

	{% if product.scheme_31 %}
	<img class='img-fluid' src='{{ product.scheme_31.url }}'/>
	{% endif %}

	{% if product.scheme_32 %}
	<img class='img-fluid' src='{{ product.scheme_32.url }}'/>
	{% endif %}

	{% if product.scheme_33 %}
	<img class='img-fluid' src='{{ product.scheme_33.url }}'/>
	{% endif %}

	{% if product.scheme_34 %}
	<img class='img-fluid' src='{{ product.scheme_34.url }}'/>
	{% endif %}

	{% if product.scheme_35 %}
	<img class='img-fluid' src='{{ product.scheme_35.url }}'/>
	{% endif %}

	{% if product.scheme_36 %}
	<img class='img-fluid' src='{{ product.scheme_36.url }}'/>
	{% endif %}

	{% if product.scheme_37 %}
	<img class='img-fluid' src='{{ product.scheme_37.url }}'/>
	{% endif %}

	{% if product.scheme_38 %}
	<img class='img-fluid' src='{{ product.scheme_38.url }}'/>
	{% endif %}

	{% if product.scheme_39 %}
	<img class='img-fluid' src='{{ product.scheme_39.url }}'/>
	{% endif %}

	{% if product.scheme_40 %}
	<img class='img-fluid' src='{{ product.scheme_40.url }}'/>
	{% endif %}

	{% if product.scheme_41 %}
	<img class='img-fluid' src='{{ product.scheme_41.url }}'/>
	{% endif %}

	{% if product.scheme_42 %}
	<img class='img-fluid' src='{{ product.scheme_42.url }}'/>
	{% endif %}

</div>