{% extends "product/base_cacao_nav.html" %}

{% block title %}
  Оформление заказа
{% endblock %}

{% block content %}
<br><br>
<div class="container mt-5">
  <div class="row mt-5">

    <div class="col">
      <div class="order-info">
        <h3 class='pb-5'>Оформление заказа</h3>
        <p class='major-text mb-4'>Ваш заказ</p>

        <ul>
          {% for item in cart %}
            <ol class='order_li pb-2'>
              <div class="d-flex justify-content-between pe-5">
                <span class ='cacao'>{{ item.product.product_full_name }} ×{{ item.quantity }} шт. </span>
                <span>{{ item.total_price|floatformat:2 }} ₽</span>
              </div>
            </ol>
          {% endfor %}
        </ul>

         <!--  {% with total_items_price=0 %}
            {% for item in cart %}
              {% with total_items_price=total_items_price|add:item.total_price %}
              {% endwith %}
            {% endfor %}
            <p class="pt-4">Итого: {{ total_items_price|floatformat:2 }} ₽</p>
          {% endwith %} -->

        <p class="pt-4">Итого: {{ cart.get_total_price }} ₽</p>

        
      </div>
    </div>

    <div class="col">  
      <form method="post" class="order-form">

        {{ form.as_p }}

        <div class='d-flex justify-content-start'>
          <!-- p class='py-4 pe-2'>Перейти к выбору способа оплаты и доставки</p -->
          <p class='py-4'><input type="submit" value="ЗАКАЗАТЬ" class="latte_bg"></p>
           
        </div>

        {% csrf_token %}

      </form>
    </div>

  </div>
</div>
<br><br><br>
{% endblock %}
