{% extends "product/base_cacao_nav.html" %}

{% block title %}
  Оформление заказа
{% endblock %}

{% block content %}
<div class="container mt-3">
  <div class="row">

    <div class="col">
      <div class="order-info">
        <h3>Оформление заказа</h3>
        <p class='major-text mt-3'>Ваш заказ</p>

        <ul>

          {% for item in cart %}
            <li class='order_li'>
              {{ item.product.product_full_name }} x{{ item.quantity }} 
              <span><strong>{{ item.total_price|floatformat:2 }} ₽</strong></span>
            </li>
          {% endfor %}

          {% with total_items_price=0 %}
            {% for item in cart %}
              {% with total_items_price=total_items_price|add:item.total_price %}
              {% endwith %}
            {% endfor %}
          {% endwith %}

        </ul>

        <p class="pt-4">Итого: {{ total_items_price|floatformat:2 }} ₽</p>
      </div>
    </div>

    <div class="col">  
      <form method="post" class="order-form">

        {{ form.as_p }}

        <div class='d-flex justify-content-start'>
          <p class='py-4 pe-2'>Перейти к выбору способа оплаты и доставки</p>
          <p class='py-4'><input type="submit" value="Вперёд" class="latte_bg"></p>
        </div>

        {% csrf_token %}

      </form>
    </div>

  </div>
</div>
{% endblock %}
