{% extends "product/base_cacao_nav.html" %}

{% block title %}
  Оформление заказа
{% endblock %}

{% block content %}
<br><br>
<div class="container mt-4">
  
  <div class="row">

    <div class="col mx-5">  
    <h3 class='mb-4'>Оформление заказа</h3>

      <form method="post" class="order-form">

        {{ form.as_p }}

        <div class='d-flex justify-content-center'>
          <p class='pt-5'><input type="submit" value="ЗАКАЗАТЬ" class="px-5 py-4 cacao_bg white"></p>
          
        </div>

        {% csrf_token %}

      </form>

      <p class='px-4 pt-4 pb-5 small'>* Нажимая на кнопку "ЗАКАЗАТЬ", Вы соглашаетесь с <u><a href='{% url "product:privacy" %}'>Политикой конфиденциальности</a></u>.</p>

    </div>


    <div class="col mx-5">
      <div class="order-info">
        <p class='major-text mb-4'>Ваш заказ</p>

        <ul>
          {% for item in cart %}
            <ol class='order_li pb-2'>
              <div class="row">  
                <div class ='col-md-4'><img class= 'order_prev_img img-fuid' src='{{ item.product.product_img.url }}'></div>
                <div class ='col-md-4 cacao'>{{ item.product.product_full_name }} ×{{ item.quantity }} шт. </div>
                <div class ='col-md-4 price_display'>{{ item.total_price|floatformat:2 }} ₽</div>
              </div>
              
            </ol>
          {% endfor %}
        </ul>
        <span class="py-4 d-flex flex-row"><p class='pe-1'>Итого: </p><p class='price_display'>{{ cart.get_total_price }}</p></span>
  
      </div>
    </div>



  </div>
</div>
<br><br><br>
{% endblock %}
