{% extends 'product/base_cacao_nav.html' %}
{% load static %}


{% block content %}

<style type="text/css">
	.err_h1{
		margin: 0!important;
		font-size: 7em!important;
	}
</style>

<div class="container container-fluid my-5">
	
	<h1 class="pt-5 pb-3 err_h1">500</h1>	
	<h3 class="mt-5">Ошибка обращения к серверу</h3>	
	<p class="major-text cacao mb-5">Мы уже исправляем неисправность. Приносим извинения за неудобства.</p>


</div>

<br>
<br>
<br>
<br>
<div class='my-5 mx-4 d-none d-lg-block d-xl-block d-xxl-block'>
	<hr>
</div>


{% endblock %}