{% extends 'product/base.html' %}
{% load static %}

{% block content %}

	<!-- General slider start-->

	<!-- DESCTOP -->
	<div class='d-none d-md-block d-lg-block d-xl-block d-xxl-block' id='desctop-show'>
		<div class="main-head-slider">
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
			  <div class="carousel-indicators">
			    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			  </div>

			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img src="https://new.decona.ru/media/main_page_carousel/SHOWROOM_MAIN.jpg" class="d-block w-100" alt="...">

			      <div class="over-slider">
					<h1 class="white slider_h1">ELEMENTA</h1>
					<p class="white ms-2 mb-5 major-text just-thin">Модульная система</p>
					<div id=''>
						<a href='https://new.decona.ru/products/elementa-mod1-corso-08/'><button class='btn-outline-white-main-slider'>Подробнее</button></a>
					</div>
				</div>

			    </div>
			    <div class="carousel-item">
			      <img src="https://new.decona.ru/media/main_page_carousel/CONSONO_MAIN.jpg" class="d-block w-100" alt="...">

			      <div class="over-slider">
					<h1 class="white slider_h1">CONSONO</h1>
					<p class="white ms-2 mb-5 major-text just-thin">Модульная система</p>
					<div id=''>
						<a href='https://new.decona.ru/products/consono-mod1-kilian-01/'><button class='btn-outline-white-main-slider'>Подробнее</button></a>
					</div>
				</div>

			    </div>
			    <div class="carousel-item">
			      <img src="https://new.decona.ru/media/main_page_carousel/AVIS_MAIN.jpg" class="d-block w-100" alt="...">

			      <div class="over-slider">
					<h1 class="white slider_h1">AVIS</h1>
					<p class="white ms-2 mb-5 major-text just-thin">Угловой диван</p>
					<div id=''>
						<a href='https://new.decona.ru/products/avis-cornerl-corso-08/'><button class='btn-outline-white-main-slider'>Подробнее</button></a>
					</div>
				</div>

			    </div>
			  </div>
			  
			</div>

		</div>
	</div>



	<!-- TABLET & PHONE -->

	<div class='pt-5 d-block d-md-none ' id='phone-show'>
		<div class="main-head-slider">
			<div id="carouselExampleCaptions" class="carousel slide mb-5" data-bs-ride="carousel">
			  <div class="carousel-indicators">
			    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
			    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			  </div>

			  <div class="carousel-inner">


			  	<div class="carousel-item active">
			     	<img src="https://new.decona.ru/media/main_page_carousel/AVIS_MOB.jpg" class="d-block w-100" alt="...">
			      	<div class="over-slider">
						<h1 class="white slider_h1">AVIS</h1>
						<p class="white ms-2 mb-5 major-text just-thin">Угловой диван</p>
						<div id=''>
							<a href='https://new.decona.ru/products/avis-cornerl-corso-08/'><button class='btn-outline-white-main-slider'>Подробнее</button></a>
						</div>
					</div>
			    </div>

			    <div class="carousel-item ">
			      <img src="https://new.decona.ru/media/main_page_carousel/SHOWROOM_MOB.jpg" class="d-block w-100" alt="...">

			      <div class="over-slider">
					<h1 class="white slider_h1">ELEMENTA</h1>
					<p class="white ms-2 mb-5 major-text just-thin">Модульная система</p>
					<div id=''>
						<a href='https://new.decona.ru/products/elementa-mod1-corso-08/'><button class='btn-outline-white-main-slider'>Подробнее</button></a>
					</div>
				</div>

			    </div>
			    <div class="carousel-item">
			      <img src="https://new.decona.ru/media/main_page_carousel/CONSONO_MOB.jpg" class="d-block w-100" alt="...">

			      <div class="over-slider">
					<h1 class="white slider_h1">CONSONO</h1>
					<p class="white ms-2 mb-5 major-text just-thin">Модульная система</p>
					<div id=''>
						<a href='https://new.decona.ru/products/consono-mod1-kilian-01/'><button class='btn-outline-white-main-slider'>Подробнее</button></a>
					</div>
				</div>

			    </div>

			  </div>
			  
			</div>

		</div>
	</div> 

<!-- General slider end -->

<!-- CATEGORIES DESCTOP-->
<div class='container-fluid mt-2 d-none d-md-block d-lg-block d-xl-block d-xxl-block' id='goods_categories_desctop'>
	<div class='row'>
		<div class="col-md-6 col-sm-12 row_prod_catgories" id="">
			<div class='latte_wrap p-4'>
				<a href='mod1/'>
	  				<div class ='category_label'>
			  			<p class='major-text'>Модульные системы</p>
			  			<p class='small-text'>Конфигурация под любое пространство
			  		</div>
	  				<img class='img-fluid card-product-category'  src="/static/img/goods_cats/mod.png">
  				</a>
	  		</div> 		
	  	</div>
	  	<div class="col-md-6 col-sm-12 row_prod_catgories" id="">
	  		<div class='latte_wrap p-4'>
				<a href='corner/'>
					<div class ='category_label'>
			  			<p class='major-text'>Угловые диваны</p>
			  			<p class='small-text'>Стиль и трансформация
			  		</div>
	  				<img class='img-fluid card-product-category'  src="/static/img/goods_cats/corner.png">
				</a>
			</div>
		</div> 	
	</div>

	<div class='row '>
		<div class="col-md-6 col-sm-12 row_prod_catgories" id="">
			<div class='latte_wrap p-4'>
				<a href='str/'>
					<div class ='category_label'>
			  			<p class='major-text'>Прямые диваны</p>
			  			<p class='small-text'>Классика мягкой мебели
			  		</div>
	  				<img class='img-fluid card-product-category'  src="/static/img/goods_cats/sofa.png">
				</a>
			</div>
		</div>

		<div class="col-md-6 col-sm-12 row_prod_catgories" id="">
			<div class='latte_wrap p-4'>
				<a href='arm/'>
					<div class ='category_label'>
			  			<p class='major-text'>Кресла</p>
			  			<p class='small-text'>Для гостиной и лаундж-зоны
			  		</div>
	  				<img class='img-fluid card-product-category'  src="/static/img/goods_cats/arm.png">
				</a>
			</div>
		</div>
	</div>

	<!-- <div class='row'>
		<div class="col-md-6 col-sm-12 row_prod_catgories" id="">
			<div class='latte_wrap  p-4'>
				<a href='bed/'>
					<div class ='category_label'>
			  			<p class='major-text'>Кровати</p>
			  			<p class='small-text'>Восстановление сил
			  		</div>
					<img class='img-fluid card-product-category'  src="/static/img/goods_cats/bed.png">
				</a>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 row_prod_catgories" id="table">
			<div class='latte_wrap  p-4'>
				<a href='table/'>
					<div class ='category_label'>
			  			<p class='major-text'>Столы</p>
			  			<p class='small-text'>Надежность и стиль
			  		</div>
	  				<img class='img-fluid card-product-category'  src="/static/img/goods_cats/table.png">
				</a>
			</div>
		</div>
	</div> -->
	
	<div class='row'>
		<div class="col-md-6 col-sm-12 py-1 row_prod_catgories" id="">
			<div class='latte_wrap my-2 p-4'>
				<a href='poufl/'>
					<div class ='category_label'>
			  			<p class='major-text'>Пуфы</p>
			  			<p class='small-text'>Большие и маленькие
			  		</div>
	  				<img class='img-fluid card-product-category'  src="/static/img/goods_cats/poufl.png">
				</a>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 py-1 row_prod_catgories" id="">
			<div class='latte_wrap my-2 p-4'>
				<a href='accessory/'>
					<div class ='category_label'>
			  			<p class='major-text'>Аксессуары</p>
			  			<p class='small-text'>Финальные штрихи к интерьеру
			  		</div>
	  				<img class='img-fluid card-product-category'  src="/static/img/goods_cats/accessory.png">
				</a>
			</div>
		</div>
	</div>
</div>


<!-- CATEGORIES PHONE & TABLET-->

<div class='container-fluid mt-5 d-block d-md-none' id='goods_categories_phone'>
	<div class='row'>
		<div class="col-md-6 col-sm-12 py-1 row_prod_catgories" id="" >
			<div class='latte_wrap p-1'>
				<a href='mod/'>
		  			<div class ='pt-2'>
				  		<p class='major-text just-thin'>Модульные системы</p>
				  	</div>
		  				<img class='img-fluid card-product-category' src="/static/img/goods_cats/mod.png">
		  		</a>
	  		</div>
	  	</div>

	  	<div class="col-md-6 col-sm-12 py-1 row_prod_catgories" id="">
	  		<div class='latte_wrap p-1'>
	  			<a href='corner/'>
					<div class ='pt-2'>
				  		<p class='major-text just-thin'>Угловые диваны</p>
					</div>
		  				<img class='img-fluid card-product-category'  src="/static/img/goods_cats/corner.png">
		  		</a>
			</div>
		</div>	
	</div>

	<div class='row'>
		<div class="col-md-6 col-sm-12 py-1 row_prod_catgories" id="" >
			<div class='latte_wrap p-1'>
				<a href='str/'>
					<div class ='pt-2'>
			  			<p class='major-text just-thin'>Прямые диваны</p>	
			  		</div>
	  				<img class='img-fluid card-product-category'  src="/static/img/goods_cats/sofa.png">
	  			</a>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 py-1 row_prod_catgories" id="" >
			<div class='latte_wrap p-1'>
				<a href='arm/'>
					<div class ='pt-2'>
			  			<p class='major-text just-thin'>Кресла</p>
			  		</div>
	  				<img class='img-fluid card-product-category' src="/static/img/goods_cats/arm.png">
	  			</a>
			</div>
		</div>
	</div>
	<!-- <div class='row'>
		<div class="col-md-6 col-sm-12 py-1 row_prod_catgories" id="">
			<div class='latte_wrap p-1'>
				<a href='bed/'>
					<div class ='pt-2'>
			  			<p class='major-text just-thin'>Кровати</p>
			  		</div>
					<img class='img-fluid card-product-category' src="/static/img/goods_cats/bed.png">
				</a>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 py-1 row_prod_catgories" id="">
			<div class='latte_wrap p-1'>
				<a href='table/'>
					<div class ='pt-2'>
			  			<p class='major-text just-thin'>Столы</p>		  			
			  		</div>
	  				<img class='img-fluid card-product-category'  src="/static/img/goods_cats/table.png">
				</a>
			</div>
		</div>
	</div> -->
	<div class='row'>
		<div class="col-md-6 col-sm-12 py-1 row_prod_catgories" id="">
			<div class='latte_wrap p-1'>
				<a href='poufl/'>
					<div class ='pt-2'>
			  			<p class='major-text just-thin'>Пуфы</p>
			  		</div>
	  				<img class='img-fluid card-product-category'  src="/static/img/goods_cats/poufl.png">
	  			</a>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 py-1 row_prod_catgories" id="" >
			<div class='latte_wrap p-1'>
				<a href='accessory/'>
					<div class ='pt-2'>
			  			<p class='major-text just-thin'>Аксессуары</p>	
			  		</div>
	  				<img class='img-fluid card-product-category'  src="/static/img/goods_cats/accessory.png">
	  			</a>	
			</div>
		</div>
	</div>
</div>

{% endblock %}