<style>
	.filter_header{
		font-size: 1.25em!important;
		padding-top: 1em;
	}
	.form-check-label{
		z-index: 2!important;
		font-size: 1.125em!important;
		color: #50504E;
	}

	@media (min-width: 811px){
		.modal{
			width: 33%!important;
	  		height: 100vh!important;
	  		right:0!important;
	  		left:auto;
	  		padding: 0px!important;
		}
	}

	@media (max-width: 810px) {
		.modal{
			width: 100%!important;
			height: 100vh!important;
			padding: 0px!important;
		}
	}

	@media (min-width: 576px) {
	  .modal-dialog {
	    max-width: 100%!important;
		}
	}


	@media (max-width: 577px) {
	  .modal-dialog {
	    max-width: 100%!important;
		}
	}


	.part33{
		width: auto;
	}
	.modal-dialog {
		
		margin: 0px!important;
	}




	.wrapper {
	  position: relative;
	  width: 100%;
	  background-color: #ffffff;
	  padding: 10px 40px 20px 0px;
	  border-radius: 10px;
	}
	.container {
	  position: relative;
	  width: 100%;
	  height: 100px;

	}
	input[type="range"] {
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
	  width: 100%;
	  outline: none;
	  position: absolute;
	  margin: auto;
	  top: 0;
	  bottom: 0;
	  background-color: transparent;
	  pointer-events: none;
	}
	.slider-track {
		width: 100%;
		height: 4px;
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		border-radius: 5px;
	}
	.slider-trackd {
		width: 100%;
		height: 4px;
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		border-radius: 5px;
	}
		.slider-trackw {
		width: 100%;
		height: 4px;
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		border-radius: 5px;
	}
	input[type="range"]::-webkit-slider-runnable-track {
	  -webkit-appearance: none;
	  height: 5px;
	}
	input[type="range"]::-moz-range-track {
	  -moz-appearance: none;
	  height: 5px;
	}
	input[type="range"]::-ms-track {
	  appearance: none;
	  height: 5px;
	}
	input[type="range"]::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  height: 1em;
	  width: 1em;
	  background-color: #9f8a88;
	  cursor: pointer;
	  margin-top: -9px;
	  pointer-events: auto;
	  border-radius: 50%;
	}
	input[type="range"]::-moz-range-thumb {
	  -webkit-appearance: none;
	  height: 1em;
	  width: 1em;
	  cursor: pointer;
	  border-radius: 50%;
	  background-color: #9f8a88;
	  pointer-events: auto;
	  border: none;
	}
	input[type="range"]::-ms-thumb {
	  appearance: none;
	  height: 1.7em;
	  width: 1.7em;
	  cursor: pointer;
	  border-radius: 50%;
	  background-color: #9f8a88;
	  pointer-events: auto;
	}
	input[type="range"]:active::-webkit-slider-thumb {
	  background-color: #ffffff;
	  border: 1px solid #9f8a88;
	}
	.values {
	  background-color: #ffffff;
	  width: 80%;
	  position: relative;
	  margin: auto;
	  padding: 10px 5px;
	  border-radius: 5px;
	  text-align: center;
	  font-weight: 500;
	  font-size: 1.1em;
	  color: #9f8a88;
	}
	.values:before {
	  content: "";
	  position: absolute;
	  height: 0;
	  width: 0;
	  border-top: 15px solid transparent;
	  border-left: 15px solid transparent;
	  border-right: 15px solid transparent;
	  margin: auto;
	  bottom: -14px;
	  left: 0;
	  right: 0;
	}
</style>

<div class="ps-3 pb-3">
	<button type="button" class="btn-prod-card white" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
	  Показать все фильтры
	</button>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
 	<div class="modal-dialog">
		<div class="modal-content ps-5">

			<div class="modal-header">
				<h5 class="modal-title mt-5" id="staticBackdropLiveLabel">Фильтры</h5>

				<button type="button" class="btn-close me-3" data-bs-dismiss="modal" aria-label="Close"><div></div></button>
			</div>
      		
      		<div class="modal-body modal-dialog-scrollable">
      			
      			<form method="get" >
      				
					<div class='filters_container'>

						<h3 class='filter_header'>Стоимость</h3>

						<div class="wrapper">
							<div class="values">
							    <span id="min_price">0</span> ₽
								<span> &dash; </span>
								<span id="max_price">400000</span> ₽
							</div>

						  	<div class="container">
						    	<div class="slider-track"></div>
						    	<input type="range" name='min_price' min="0" max="300000" value="20000" id="slider-1" oninput="slideOne()">
						    	<input type="range" name='max_price' min="0" max="300000" value="120000" id="slider-2" oninput="slideTwo()">
							</div>
						</div>
						

						<h3 class='filter_header'>Тип</h3>
							{% for producttype in view.get_producttype  %}
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name='type_id' value=" {{ type_id }} " id="flexCheckDefault">
									<label class="form-check-label" for="flexCheckDefault">
										{{ producttype.type_ru }}
									</label>
								</div>
							{% endfor %}

						
						<h3 class='filter_header'>Коллекция</h3>

							{% for collection in view.get_collection %}
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value=" {{ collection }} " id="flexCheckDefault_{{ collection }}" name='collection'>
									<label class="form-check-label" for="flexCheckDefault_{{ collection }}">
										{{ collection.collection }}
									</label>
								</div>
							{% endfor %}


						<h3 class='filter_header pt-5'>Габариты</h3>

							<div class='row'>
								<div class='col-md-6'>
									<p class='pt-2 small'>ШИРИНА</p>

									<div class="wrapper">
										<div class="values">
									    <span id="range1w">
									      0
									    </span> см
									    <span> &dash; </span>
									    <span id="range2w">
									      400
									    </span> см
										</div>
										<div class="container">
									    	<div class="slider-trackw"></div>
										    <input type="range" name='min_width' min="0" max="400" value="100" id="slider-1w" oninput="slideOneW()">
										    <input type="range" name='max_width'  min="0" max="400" value="220" id="slider-2w" oninput="slideTwoW()">
									 	</div>
									</div>
								</div>

								<div class='col-md-6'>
									<p class='pt-2 small'>ГЛУБИНА</p>

									<div class="wrapper">
										<div class="values">
											<span id="range1d">
											0
											</span> см
											<span> &dash; </span>
											<span id="range2d">
									    	400
									    	</span> см
										</div>
										<div class="container">
											<div class="slider-trackd"></div>
											<input type="range" name='min_depth' min="0" max="300" value="40" id="slider-1d" oninput="slideOneD()">
											<input type="range" name='max_depth' min="0" max="300" value="120" id="slider-2d" oninput="slideTwoD()">
										</div>
									</div>
								</div>
							</div>

						 
						<h3 class='filter_header'>Цвет</h3>

							{% for color in view.get_color %}
								<style>
									.prev_color_{{color.color_id}} { 
										background-color: {{color.color_code}}!important;
										border: 3px solid #fff !important;
		    							border-radius: .25em !important;
		    							box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 6px 0px!important;
									}
									.prev_color_{{color.color_id}}:checked { 
										box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 6px 0px!important;
									}
								</style>

								<div class="form-check">
									<input class="form-check-input prev_color_{{color.color_id}}" type="checkbox" value=" {{ product_fabric_color }} " id="flexCheckDefault_{{color.color_id}}">
									<label class="form-check-label" for="flexCheckDefault_{{color.color_id}}">
									{{ color.color_name }}
									</label>
								</div> 
							{% endfor %}

				
						<h3 class='filter_header'>Механизм</h3>
						
							{% for unique_mechanism_type in view.get_mechanism_type %}
							    <div class="form-check">
							        <input class="form-check-input" type="checkbox" name='mechanism_type' value="{{ unique_mechanism_type }}" id="flexCheckDefault_{{ unique_mechanism_type }}">
							        <label class="form-check-label" for="flexCheckDefault_{{ unique_mechanism_type }}">
							            {{ unique_mechanism_type }}
							        </label>
							    </div>
							{% endfor %}
					

						<h3 class='filter_header'>Ящик для хранения белья</h3>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" name="linen_drawer" value='Да' id="flexCheckDefault_yes" checked>
								<label class="form-check-label" for="flexCheckDefault_yes">
									Да
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" name="linen_drawer" value='Нет' id="flexCheckDefault_no">
								<label class="form-check-label" for="flexCheckDefault_no">
									Нет
								</label>
							</div>


						<h3 class='filter_header'>Опоры</h3>
							{% for unique_paws_type in view.get_paws_type %}
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name='paws_type' value="{{ unique_paws_type }}" id="flexCheckDefault_{{ unique_paws_type }}">
									<label class="form-check-label" for="flexCheckDefault_{{ unique_paws_type }}">
										{{ unique_paws_type }}
									</label>
								</div>
							{% endfor %}

						<div class="py-3 mb-4">
							<center>
								<button type="submit" name='filter_products' class="btn-prod-card white ">Показать варианты</button>
							</center>
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	window.onload = function () {
		slideOne();
		slideTwo();

		slideOneW();
		slideTwoW();


		slideOneD();
		slideTwoD();

	};

	let sliderOne = document.getElementById("slider-1");
	let sliderTwo = document.getElementById("slider-2");
	let displayValOne = document.getElementById("min_price");
	let displayValTwo = document.getElementById("max_price");


	let sliderOneW = document.getElementById("slider-1w");
	let sliderTwoW = document.getElementById("slider-2w");
	let displayValOneW = document.getElementById("range1w");
	let displayValTwoW = document.getElementById("range2w");


	let sliderOneD = document.getElementById("slider-1d");
	let sliderTwoD = document.getElementById("slider-2d");
	let displayValOneD = document.getElementById("range1d");
	let displayValTwoD = document.getElementById("range2d");



	let minGap = 0;
	let sliderTrack = document.querySelector(".slider-track");
	let sliderMaxValue = document.getElementById("slider-1").max;

	let minGapW = 0;
	let sliderTrackW = document.querySelector(".slider-trackw");
	let sliderMaxValueW = document.getElementById("slider-1w").max;

	let minGapD = 0;
	let sliderTrackD = document.querySelector(".slider-trackd");
	let sliderMaxValueD = document.getElementById("slider-1d").max;


	function slideOne() {
		if (parseInt(sliderTwo.value) - parseInt(sliderOne.value) <= minGap) {
			sliderOne.value = parseInt(sliderTwo.value) - minGap;
		}
		displayValOne.textContent = sliderOne.value;
		fillColor();
	}
	function slideTwo() {
		if (parseInt(sliderTwo.value) - parseInt(sliderOne.value) <= minGap) {
			sliderTwo.value = parseInt(sliderOne.value) + minGap;
		}
		displayValTwo.textContent = sliderTwo.value;
		fillColor();
	}


	
	function slideOneW() {
		if (parseInt(sliderTwoW.value) - parseInt(sliderOneW.value) <= minGapW) {
			sliderOneW.value = parseInt(sliderTwoW.value) - minGapW;
		}
		displayValOneW.textContent = sliderOneW.value;
		fillColorW();
	}
	function slideTwoW() {
		if (parseInt(sliderTwoW.value) - parseInt(sliderOneW.value) <= minGapW) {
			sliderTwoW.value = parseInt(sliderOneW.value) + minGapW;
		}
		displayValTwoW.textContent = sliderTwoW.value;
		fillColorW();
	}



	function slideOneD() {
		if (parseInt(sliderTwoD.value) - parseInt(sliderOneD.value) <= minGapD) {
			sliderOneD.value = parseInt(sliderTwoD.value) - minGapD;
		}
		displayValOneD.textContent = sliderOneD.value;
		fillColor();
	}
	function slideTwoD() {
		if (parseInt(sliderTwoD.value) - parseInt(sliderOneD.value) <= minGapD) {
			sliderTwoD.value = parseInt(sliderOneD.value) + minGapD;
		}
		displayValTwoD.textContent = sliderTwoD.value;
		fillColorD();
	}



	function fillColor() {
		percent1 = (sliderOne.value / sliderMaxValue) * 100;
		percent2 = (sliderTwo.value / sliderMaxValue) * 100;
		sliderTrack.style.background = `linear-gradient(to right, #dadae5 ${percent1}% , #9F8A88 ${percent1}% , #9F8A88 ${percent2}%, #dadae5 ${percent2}%)`;
	}


	function fillColorW() {
		percent1w = (sliderOneW.value / sliderMaxValueW) * 100;
		percent2w = (sliderTwoW.value / sliderMaxValueW) * 100;

		sliderTrackW.style.background = `linear-gradient(to right, #dadae5 ${percent1w}% , #9F8A88 ${percent1w}% , #9F8A88 ${percent2w}%, #dadae5 ${percent2w}%)`;
	}


	function fillColorD() {
		percent1d = (sliderOneD.value / sliderMaxValueD) * 100;
		percent2d = (sliderTwoD.value / sliderMaxValueD) * 100;
		sliderTrackD.style.background = `linear-gradient(to right, #dadae5 ${percent1d}% , #9F8A88 ${percent1d}% , #9F8A88 ${percent2d}%, #dadae5 ${percent2d}%)`;
	}	
</script>