{% extends 'product/base_cacao_nav.html' %}
{% load static %}

{% block content %}

<!-- <div class='main-head-slider'>
	<img src="/media/pages_hats/designers_hat.jpg" class='banner img-fluid'>
</div>  -->

<div class="container big-fields-content mt-5">
	<h2 class="mb-5">Сотрудничество с дизайнерами и архитекторами</h2>
		<p class="mb-4">Приглашаем дизайнеров, декораторов, архитекторов и дизайн-студии, присоединиться к новой программе сотрудничества, благодаря которой ваша работа станет более удобной и плодотворной.
		
		<p class="mb-1">• Агентский договор с уникальными условиями, действующий на все салоны;
		<p class="mb-1">• Индивидуальный подход, соблюдение сроков изготовления;
		<p class="mb-1">• Большой выбор мебели и регулярное обновление и расширение ассортимента;
		<p class="mb-1">• Закрытые мероприятия для участников программы;
		<p class="mb-1">• Удобное расположение салонов, где вы можете встретиться с клиентом в комфортной обстановке;
		<p class="mb-1">• Индивидуальные коммерческие предложения клиентам, оnline-оформление заявок;


		<p class="my-4"> Для участия в программе необходимо заполнить анкету, после чего оформить агентский договор. Перейдите по ссылке для получения привилегий при покупке товаров мебельной фабрики Decona

		<center class="my-5">
			<a href='#' class='ms-4'><button class="btn-outline-gray">Заполните анкету партнера</button></a>

			<a href='#' class='ms-4'><button class="btn-outline-gray">Скачать каталог</button></a>
		</center> 
</div>

{% endblock %}