{% extends 'product/base.html' %}
{% load static %}

{% block content %}
<style>
	.main_text{
			padding-top: 6em;
			padding-bottom: 2em;
			margin-left: 4em;
	  		margin-right: 4em;
		}

	@media screen and (max-width: 600px){
		.main_text{
			padding-top: 4em;
			padding-bottom: 2em;
			margin-left: .1em;
	  		margin-right: .1em;
		}
	}

</style>


<!-- General slider start-->
	<!-- DESCTOP -->
	<div class='d-none d-md-block d-lg-block d-xl-block d-xxl-block' id='desctop-show'>
		<div class="main-head-slider">
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
			  <div class="carousel-indicators">
			    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			  </div>

			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img src="/static/img/goods_cats/ELEMENTA_1.jpg" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			      <img src="/static/img/goods_cats/ELEMENTA_5.jpg" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			      <img src="/static/img/goods_cats/ELEMENTA_6.jpg" class="d-block w-100" alt="...">
			    </div>
			  </div>
			  
			  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Previous</span>
			  </button>
			  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
			  </button>
			</div>

			<div class="over-slider">
				<h1 class="white slider_h1">ELEMENTA</h1>
				<p class="white ms-2 mb-5 major-text just-thin">Модульная система</p>
				<div id='elementa_FILTER_IT'>
					<button class='btn-outline-white-main-slider'>Подробнее</button>
				</div>
			</div>
		</div>
	</div>

	<!-- TABLET & PHONE -->
	<div class='pt-5 d-block d-md-none ' id='phone-show'>
		<div class="main-head-slider">
			<div id="carouselExampleCaptions" class="carousel slide mb-5" data-bs-ride="carousel">
			  <div class="carousel-indicators">
			    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
			    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
			  </div>
			  
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img src="/static/img/goods_cats/ELEMENTA_1.jpg" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			      <img src="/static/img/goods_cats/ELEMENTA_5.jpg" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			      <img src="/static/img/goods_cats/ELEMENTA_6.jpg" class="d-block w-100" alt="...">
			    </div>
			  </div>
			  
			</div>

			<div class="over-slider-mobile">
				<h2 class="white ms-3">ELEMENTA</h2>
				<p class="white just-thin ms-3 mb-4">Модульная система</p>
				<div id='elementa_FILTER_IT'>
					<button class='ms-3 btn-outline-white-main-slider'>Подробнее</button>
				</div>
			</div>
		</div>
	</div>
<!-- General slider end -->

	<div class="banner latte_bg mt-3 px-4">
		<div class='row main_text'>
			<div class='col-md-4'>
				<img сlass="" src="/static/img/DECONA_label.png">
				<p class='py-3'>мебельное производство полного цикла
				<p class='pt-5 major-text d-none d-md-block d-lg-block d-xl-block d-xxl-block'>Популярные товары
			</div>
			<div class='col-md-8'>
				<p class='pb-2'>Наша задача – предложить потребителю  ассортимент стилистически выверенных, качественных, логичных, современныхтоваров для обустройства интерьера, по таким ценам, чтобы как можно больше людей имели возможность ими обладать. Бренд DECONA имеет производственные мощности, обеспечивающие полный цикл создания мебели и предлагает клиентам комплектацию их интерьера мягкой мебелью и предметами интерьера.
			</div>
		</div>
	</div>


<!-- POPULAR PRODUCTS SLIDER START -->	
	{% include 'product/card_parts/slider_for_index_popular_goods.html' %}
<!-- PRODUCTS SLIDER END-->

<!-- GRAY RECTANGLES START -->
	{% include 'product/card_parts/gray_rectangles.html' %}
<!-- GRAY RECTANGLES END -->

{% endblock %}