{% extends 'product/base.html' %}
{% load static %}

{% block content %}

<div class='main-head-slider'>
	<img src="/media/pages_hats/delivery_hat.jpg" class='banner img-fluid'>
</div>

<div class="container big-fields-content mt-5">
	<h2 class="mb-3">Доставка</h2>
		<p class="mb-5"> Компания Decona предоставляет услуги доставки по всем регионам России, согласно индивидуальным договоренностям с каждым клиентом. Наша команда готова обеспечить быструю и надежную доставку, чтобы удовлетворить потребности наших клиентов.
		<!-- <center class="my-5"><a href='#' class='ms-4'><button class="btn-outline-gray">Оформить</button></a>
		</center> -->
	<hr>
	<h2 class="mt-5 mb-3">Рассрочка</h2>
		<p>Наша компания рада предложить своим клиентам удобную услугу - рассрочку на мебель. Теперь вы можете приобрести мебель в наших салонах и оформить рассрочку на срок до 12 месяцев. Это отличный способ сделать покупку доступной и не перегружать свой бюджет. Мы заботимся о наших клиентах и стараемся сделать все возможное, чтобы удовлетворить их потребности. Приходите к нам в салон и выбирайте красивую и удобную мебель, не беспокоясь о финансах!
</div>

{% endblock %}