{% extends 'product/base_cacao_nav.html' %}
{% load static %}

{% block content %}


<!-- DESCTOP -->
	<div class='d-none d-md-block d-lg-block d-xl-block d-xxl-block'>
		<div class='breadcrumbs'>
			<a href='{% url "product:index" %}'>Главная</a> / <a class='' href='{% url "product:products" %}'>Продукция</a> / <a href='/categories/{{product.category}}'> {{ product.category_ru }}</a>
		</div>

		<div class='row'>
			<div class='{{  product.category }} ' id='content_left'>
				<p class='h-center'>{{ product.collection }}</p>
				<center>
		      	<p class='fabric-name pb-3'>Ткань: {{ product.fabric_name }}
		    	</center>

				<!-- fabric buttons -->
				{% if product.show_fabric_icons %}

					{%  include 'product/card_parts/fabric_nav.html' %}

				{% endif %}

				<!-- ICONS: New, Showroom, Delivery, -->
				{%  include 'product/card_parts/card_icons.html' %}


				<!-- CAROUSEL with product images -->
				{%  include 'product/card_parts/carousel_desctop.html' %}


			</div>

			<div class='no-padding-right' id='content_right'>
				<img class='img-fluid banner' src='/media/{{ product.closeup }}'>
			</div>
		</div>

		<!-- Name & price -->
	
		<div class='d-flex justify-content-between mx-5'>
			<div class='prod-card-model'>
				{{ product.product_full_name }}
			</div>
			<div class='d-flex flex-row'>

				{% if product.price_old %}
					<p class='old-price price_display px-3'>{{ product.price_old }} ₽</p>
				{% endif %}

				<p class='prod-card-price price_display pe-3'>{{ product.price}} ₽</p>

			</div>
			<div class='mt-3 d-flex justify-content-between'>

				<form action='{% url "cart:cart_add" product_slug=product.product_slug %}' method="post">
				{{ cart_product_form }}
				{% csrf_token %}
				<input type="submit" class="white btn-prod-card" value="Заказать">
				</form>

				{% if product.d3 %}
				<a class='white' href='/media/{{product.d3}}'>
					<button class='white btn-prod-card'>
						3D модель
					</button>
				</a>
				{% endif %}
				{% if product.pdf %}
				<a class='white' href='/media/{{product.pdf}}'>
					<button class='white btn-prod-card'>
						PDF
					</button>
				</a>
				{% endif %}
			</div>
		</div>

		<!-- ACCORDION DESCTOP-->

		<div class='accordion mx-5' id='accordionExample'>

		    <div class='accordion-item'><!-- Описание и характеристики -->
		        <h2 class='accordion-header' id='headingOne'>
		            <button class='accordion-button white_bg' type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne'>
		            Описание и характеристики
		            </button>
		        </h2>
		        <div id='collapseOne' class='accordion-collapse collapse' aria-labelledby='headingOne' data-bs-parent='#accordionExample'>
		            <div class='accordion-body'>
		            	<div class='accordion-padding'>
			                <p id='description'> {{ product.description|linebreaks }} </p>

							<div class='my-4'>
								<table class='prod-card-table col-5'>
									<tr>
										<td><p class="cacao">Наполнение</p></td><td><p class="text-end">{{ product.product_inside }}</p></td>
									</tr>
									<tr>
										<td><p class="cacao">Наполнение подушек</p></td><td><p class="text-end">{{ product.product_inside_pillow }}</p></td>
									</tr>
									<tr>
										<td><p class="cacao">Каркас</p></td>
										<td><p class="text-end">{{ product.carcas_type }}</p></td>
									</tr>
									<tr>
										<td><p class="cacao">Ножки</p></td><td><p class="text-end">{{ product.paws_type }}</p></td>
									</tr>
									<tr>
										<td><p class="cacao">Механизм</p></td>
										<td><p class="text-end">{{ product.mechanism_type }}</p></td>
									</tr>
									<tr>
										<td><p class="cacao">Спальное место</p></td>
										<td><p class="text-end">{{ product.sleep_place }}</p></td>
									</tr>
									<tr>
										<td><p class="cacao">Бельевой ящик</p></td>
										<td><p class="text-end">{{ product.linen_drawer }}</p></td>
									</tr>
								</table>

								<!-- <div class='mt-3 d-flex flex-row'>
									<p class='cacao pe-2'>Особенности:</p>
									<p>{{ product.features }}</p>
								</div> -->
							</div>
						</div>

		        	</div>
		        </div>
		    </div>



		    <div class='accordion-item '><!-- Схема и габариты -->
		        <h2 class='accordion-header top-strip' id='headingTwo'>
		            <button class='accordion-button' type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo'>
		            Схема и габариты
		            </button>
		        </h2>
		        <div id='collapseTwo' class='accordion-collapse collapse' aria-labelledby='headingTwo' data-bs-parent='#accordionExample'>
		            <div class='accordion-body'>
		            	<div class='container-fluid'>
		            		<div class='row'>
		            			<div class='col-md-3'>
			            			<div class="d-flex justify-content-start">
				            			<div class=''>
				            				<p class='cacao'>Ширина, см </p>
				            				<p class='cacao'>Высота, см </p>
				            				<p class='cacao'>Глубина, см </p>
				            			</div>
				            			<div class="ms-1">
				            				<p class='ps-5'>{{ product.width }} </p>
				            				<p class='ps-5'>{{ product.height }} </p>
				            				<p class='ps-5'>{{ product.depth }} </p>
			            				</div>
			            			</div>
								</div>
								<div class='col'>
								{% if product.scheme %}
									
								{%  include 'product/card_parts/schemes_grid.html' %}

								{% endif %}
								</div>
							</div>
						</div>
					</div>		
		          </div>
		    </div>
		    
		    

		    <div class='accordion-item '><!-- Материал обивки -->
		        <h2 class='accordion-header top-strip' id='headingFour'>
		            <button class='accordion-button' type='button' data-bs-toggle='collapse' data-bs-target='#collapseFour' aria-expanded='true' aria-controls='collapseFour'>
		            Материал обивки
		            </button>
		        </h2>
		        <div id='collapseFour' class='accordion-collapse collapse' aria-labelledby='headingFour' data-bs-parent='#accordionExample'>
		            <div class='accordion-body'>
		            	<div class='container-fluid'>
							<div class='row'>
								<div class='col-md-8 col-sm-12'>
									<p>{{ product.fabric_about }}</p>
									<br>
									<p  class='pt-4'>Обращаем Ваше внимание, что реальный цвет ткани может значительно отличаться от изображения на экране. Это зависит от индивидуальных настроек монитора и восприятия цвета. Поэтому при заказе ткани ориентируйтесь на реальные образцы.
		                			<p class='pt-4'>Больше образцов тканей вы можете посмотреть в наших салонах.
		                				<br>
									<p><a href='/showrooms'><button class='btn-outline-gray mt-3'>Адреса салонов</button></a>
								</div>
								<div class='col-md-4 col-sm-12'>
									<img src='/media/{{ product.fabric_name.product_fabric_img }}' class='img-fluid'>
								</div>
							</div>	
			          	</div>
			        </div>
			    </div>
			</div>

			<!-- Опции -->
		    {% include 'product/card_parts/options.html' %}
		</div>
		<div class="banner"></div>


		<!-- Slider with interiors DESCTOP -->


		{% include 'product/card_parts/slider_interior.html' %}
		

		<div class='big-fields-content mt-5 d-none d-md-block d-lg-block d-xl-block d-xxl-block'>
			<p>	Стоимость дивана в нестандартной комплектации рассчитывается в салоне, после выбора клиентом обивки и дополнительных опций. После того, как вы определилисть, подписывается договор, гле прописаны все особенности товара, его доставка и гарантии.</p>
			<center>
				<br>
				<a class='' href='/showrooms'>
					<button class='btn-outline-gray my-2'>Адреса шоурумов</button>
				</a>
			</center>
		</div>

	<!-- DESCTOP POP OVER THING START -->

	 {% include 'product/card_parts/popover_features.html' %} 

	<!-- DESCTOP POP OVER THING END -->

	</div>
<!-- DESCTOP END -->




<!-- PHONE & TABLET-->

	<div class='d-block d-md-none'>

		<div class='breadcrumbs'>
			<a href='{% url "product:index" %}'>Главная</a> / <a class='' href='{% url "product:products" %}'>Продукция</a> / <a href='/products/{{product.category}}'> {{ product.category_ru }}</a>
		</div>

		<p class='major-text ps-4 pt-4'>{{ product.category_ru }}</p>

		<p class='h-center pt-5'>{{ product.collection }}</p>
		<center>
          	<p class='fabric-name pb-3'>Ткань: {{ product.fabric_name }}
        </center>


        <!-- fabric buttons -->

		{% if product.show_fabric_icons %}

			{%  include 'product/card_parts/fabric_nav_mob.html' %}

		{% endif %}


		<!-- carousel with product PHONE -->
		{%  include 'product/card_parts/carousel_mob.html' %}



		<!-- Name & price -->

		<div class='mt-2'>
			<div class='py-2'>
				<div class='ps-3 prod-card-model-phone '>{{ product.product_full_name }}</div>
				<div class='ps-3 d-flex flex-row'>
				{% if product.price_old %}
					<p class='old-price_mob  pe-3'>{{ product.price_old }} ₽</p>
				{% endif %}
					<p class='prod-card-price_mob'>{{ product.price}} ₽</p>
					</div>
			</div>

			<div class='d-flex justify-content-around white btn-prod-card_mob py-2 img-cover cacao_bg'>

				<form action='{% url "cart:cart_add" product_slug=product.product_slug %}' method="post">
					{{ cart_product_form }}
					{% csrf_token %}
					<input type="submit" class="btn-prod-card_mob cacao_bg white" value="Заказать">
				</form>

				{% if product.d3 %}
					<a class='white vertical_center' href='/media/{{product.d3}}'>
				3D модель
				</a>
				{% endif %}
				
				{% if product.pdf %}
					<a class='white vertical_center' href='/media/{{product.pdf}}'>
				PDF
				</a>
				{% endif %}

			</div>
		</div>	


		<!-- ACCORDION PHONE-->

		<div class='accordion mx-1' id='accordionExample'>
		    
		    <div class='accordion-item'><!-- Описание и характеристики -->
		        <h2 class='accordion-header' id='headingOne'>
		            <button class='accordion-button white_bg' type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne'>
		            Описание и характеристики
		            </button>
		        </h2>
		        <div id='collapseOne' class='accordion-collapse collapse' aria-labelledby='headingOne' data-bs-parent='#accordionExample'>
		            <div class='accordion-body'>
		            	<div class=''>
			                <p id='description' >
			                	{{ product.description }}
			                </p>

							<div class='my-4'>
								<table class='prod-card-table'>
									<tr>
										<td><p class="cacao">Наполнение</p></td><td><p class="text-end">{{ product.product_inside }}</p></td>
									</tr>
									<tr>
										<td><p class="cacao">Наполнение подушек</p></td><td><p class="text-end">{{ product.product_inside_pillow }}</p></td>
									</tr>
									<tr>
										<td><p class="cacao">Каркас</p></td>
										<td><p class="text-end">{{ product.carcas_type }}</p></td>
									</tr>
									<tr>
										<td><p class="cacao">Ножки</p></td><td><p class="text-end">{{ product.paws_type }}</p></td>
									</tr>
									<tr>
										<td><p class="cacao">Механизм</p></td>
										<td><p class="text-end">{{ product.mechanism_type }}</p></td>
									</tr>
									<tr>
										<td><p class="cacao">Спальное место</p></td>
										<td><p class="text-end">{{ product.sleep_place }}</p></td>
									</tr>
									<tr>
										<td><p class="cacao">Бельевой ящик</p></td>
										<td><p class="text-end">{{ product.linen_drawer }}</p></td>
									</tr>
								</table>

								<!-- <div class='mt-5 d-flex flex-row'>
									<p class='cacao pe-2'>Особенности:</p>
									<p>{{ product.features }}</p>
								</div> -->
							</div>
						</div>

		        	</div>
		        </div>
		    </div>



		    <div class='accordion-item '><!-- Схема и габариты -->
		        <h2 class='accordion-header top-strip' id='headingTwo'>
		            <button class='accordion-button' type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo'>
		            Схема и габариты
		            </button>
		        </h2>
		        <div id='collapseTwo' class='accordion-collapse collapse' aria-labelledby='headingTwo' data-bs-parent='#accordionExample'>
		            <div class='accordion-body'>
		            	<div class='container-fluid'>
		            		<div class='row'>
		            			<div class='col'>
			            			<div class="d-flex justify-content-start">
				            			<div class=''>
				            				<p class='cacao'>Ширина, см </p>
				            				<p class='cacao'>Высота, см </p>
				            				<p class='cacao'>Глубина, см </p>
				            			</div>
				            			<div class="ms-1">
				            				<p class='ps-5'>{{ product.width }} </p>
				            				<p class='ps-5'>{{ product.height }} </p>
				            				<p class='ps-5'>{{ product.depth }} </p>
			            				</div>
			            			</div>
								</div>
								<div class='col'>
								{% if product.scheme %}
									
								{%  include 'product/card_parts/schemes_grid.html' %}

								{% endif %}
								</div>
							</div>
						</div>
					</div>		
		          </div>
		    </div>
		    
		    

		    <div class='accordion-item '><!-- Материал обивки -->
		        <h2 class='accordion-header top-strip' id='headingFour'>
		            <button class='accordion-button' type='button' data-bs-toggle='collapse' data-bs-target='#collapseFour' aria-expanded='true' aria-controls='collapseFour'>
		            Материал обивки
		            </button>
		        </h2>
		        <div id='collapseFour' class='accordion-collapse collapse' aria-labelledby='headingFour' data-bs-parent='#accordionExample'>
		            <div class='accordion-body'>
		            	<div class='container-fluid'>
							<div class='row'>
								<div class='col-md-8 col-sm-12'>
									<p>{{ product.product_fabric_about }}
									<br>
									<p  class='pt-4'>Обращаем Ваше внимание, что реальный цвет ткани может значительно отличаться от изображения на экране. Это зависит от индивидуальных настроек монитора и восприятия цвета. Поэтому при заказе ткани ориентируйтесь на реальные образцы.
		                			<p class='pt-4'>Больше образцов тканей вы можете посмотреть в наших салонах.
									<p><a href='http://temp.decona.ru/showrooms/'><button class='btn-outline-gray mt-3'>Адреса салонов</button></a>
								</div>
								<div class='col-md-4 col-sm-12 mt-2'>
									<img src='/media/{{ product.fabric_name.product_fabric_img }}' class='img-fluid'>
								</div>
							</div>	
			          	</div>
			        </div>
			    </div>
			</div>

			<!-- Опции -->
		    {% include 'product/card_parts/options.html' %}

		</div>


		<div class='container-fluid my-5'>
			<p>	Стоимость дивана в нестандартной комплектации рассчитывается в салоне, после выбора клиентом обивки и дополнительных опций. После того, как вы определилисть, подписывается договор, где прописаны все особенности товара, его доставка и гарантии.</p>
			<!-- button class='btn-outline-gray my-2'>Вся коллекция</button -->
		</div>	


		<!-- SLIDER INTERIORS PHONE -->

		{% include 'product/card_parts/slider_interior_mob.html' %}


		<div class='container-fluid my-5'>
			<p class='mb-4'>Стоимость дивана в нестандартной комплектации рассчитывается в салоне, после выбора клиентом обивки и дополнительных опций. После того, как вы определилисть, подписывается договор, гле прописаны все особенности товара, его доставка и гарантии.</p>
			<center>
				<br>
				<a class='' href='/showrooms'>
					<button class='btn-outline-gray'>Адреса шоурумов</button>
				</a>
			</center>
		</div>


		<!-- FEATURES | SLIDER EDITION -->

		{% include 'product/card_parts/popover_features_slider_for_mob.html' %}


	</div>
<!-- PHONE & TABLET END -->


<!-- <div class="container ms-4 my-4">
	<a href='../'><button class='btn-outline-gray mt-3'>Вся коллекция</button></a>
</div> -->

<!-- THE CURRENT COLLECTION PRODUCTS SLIDER START -->	
	{% include 'product/card_parts/carousel_row_all_collection.html' %}
<!-- PRODUCTS SLIDER END-->

<!-- GRAY RECTANGLES START -->
	{% include 'product/card_parts/gray_rectangles.html' %}
<!-- GRAY RECTANGLES END -->

<!-- POPULAR PRODUCTS SLIDER START -->	
	 {% include 'product/card_parts/carousel_row_popular_goods.html' %}
<!-- PRODUCTS SLIDER END-->



<script>
	document.querySelectorAll('form div:not([id]):not([class])').forEach(div => {
	  div.classList.add('zero_height');
	});
</script>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function adaptationWidth(){
	
/* Adaptation */
	const content_left = document.getElementById('content_left');
	const content_right = document.getElementById('content_right');
	const f_icons = document.getElementById('fabric_icons');


	/* Rectangles */

	if (
		content_left.classList.contains('arm') || 
		content_left.classList.contains ('poufl') || 
		content_left.classList.contains('poufs')
		) {
	  		content_left.classList.add('col-md-6');
	  		content_right.classList.add('col-md-6');
	  		content_right.classList.add('padding-left-10');
	  	} 


  	/* Left bigger */

	else if (
		content_left.classList.contains('cornerl') || 
		content_left.classList.contains('corner_r') ||
		content_left.classList.contains('sofa_2m_st') || 
		content_left.classList.contains('sofa_2m_n') ||
		content_left.classList.contains('sofa_3m_st') || 
		content_left.classList.contains('sofa_3m_n') ||
		content_left.classList.contains('sofa_maxi_st') ||
		content_left.classList.contains('sofa_maxi_n')
		) {
	  		content_left.classList.add('col-md-8');
	  		content_right.classList.add('col-md-4');
		} 


	/* Full */

	else if (
		content_left.classList.contains('mod1') || 
		content_left.classList.contains('bed')
		) {
	  		content_left.classList.add('col-md-12');
	  		content_right.remove();
		}

	/* Without fabric icons */
	if (
		content_left.classList.contains('accessory') || 
		content_left.classList.contains('table')
		) {
	  		content_left.classList.add('col-md-6');
	  		content_right.classList.add('col-md-6');
	  		f_icons.remove();
	  	} 
})

</script>



{% endblock %}