{% extends 'product/base_cacao_nav.html' %}
{% load static %}

{% block content %}

<!-- <div class='main-head-slider'>
	<img src="/media/pages_hats/vacancies_hat.jpg" class='banner img-fluid'>
</div>  -->

<div class="container big-fields-content mt-5">
	<h2 class="mb-3">Вакансии</h2>
		<p class="mb-5 major-text">
			Контент-менеджер
		</p>
		<p class="mb-5">
			<b>Задачи:</b>

			<p>Добавление контента на сайт (работа с панелью администратора сайта), актуализация контента


			<b>Требования:</b>

			<p>- Усидчивость, внимательность
			<p>- Продвинутый пользователь ПК, опыт работы с базами данных будет преимуществом


			<b>Условия</b>

			<p>- Оформление по ТК РФ или договору ГПХ
			<p>- Отличный коллектив и печеньки
		<center class="my-5">
			<a href='#' class='ms-4'><button class="btn-outline-gray">Откликнуться</button></a>
		</center> 

	<hr>

</div>

{% endblock %}