[Unit]
Description=Gunicorn for Django project
Requires=gunicorn.socket
After=network.target

[Service]
User=aadmin
Group=sudo
WorkingDirectory=/home/aadmin/freee_dj
ExecStart=/home/aadmin/freee_dj/venv/bin/gunicorn \
	--access-logfile - \
	--workers 3 \
	--error-logfile /var/log/gunicorn/error.log \
	--bind unix:/run/gunicorn.sock \
	freee_dj.wsgi:application

[Install]
WantedBy=multi-user.target